.bannerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem;
  border: 1px solid red;
}

.bannerHeading {
  text-align: center;
  font-size: 3rem;
}

.buyLink {
  border: 1px solid;
  text-align: center;
}

.title {
  font-size: 4rem;
}

.carouselMargin {
  padding-top: 2rem;
}
