.bannerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem;
  border: 1px solid red;
}

.bannerHeading {
  text-align: center;
}

/* span {
  font-size: 2rem;
} */
