*,
*::before,
*::after {
  margin: 0;
  paddding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.7;
  background-color: #1635a2;
  color: #fff;
  font-family: "Open Sans";
}

.container {
  padding: 0 6rem;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
}

a:hover {
  color: #ffd701;
}

ul {
  display: flex;
  gap: 25px;
}

li {
  list-style: none;
  text-transform: capitalize;
}

header {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

header > div.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

header > div.menu-wrapper {
  align-items: center;
}

footer {
  padding: 6rem;
}

footer > p {
  padding-top: 2rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
